<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go ANYWHERE</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about-us">About us</a>
        <a href="/contact-us">Contact us</a>
    </nav>
    <main>
        <div id="container">
            <iframe src="https://mitid.eu.pythonanywhere.com/" frameborder="0" style="height: 25rem;">
            </iframe> 
        </div>
        
    </main>
    <script>
        // window.addEventListener("message", event => {
        //     console.log(event.data)
        // }, false)
        window.addEventListener('message', async event => {
            try {
                const response = await fetch('/validate', {
                    method: 'post',
                    body:
                       JSON.stringify(event.data)

                }

                ).then(res =>
                    // window.location.href = res.url
                    document.getElementById("container").innerHTML = "NICE"
                    );

            } catch (err) {
                console.error(`Error: ${err}`);
            }
        });
    </script>
</body>

</html>